@model SocialProject.Models.PostModel

<form asp-action="Create1" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Activity"></label>
        <input asp-for="Activity" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Attachment"></label>
        <input type="file" name="file" class="form-control-file" />
    </div>
     <div class="form-group">
        <label>Preview</label>
        @if (Model.Attachment != null)
        {
                <img src="@Url.Content(Model.Attachment)" />
        }
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@*@foreach (PostModel actpost in ViewBag.activatePosts)
							{

								<p asp-for="@actpost.Description"></p>
								<!-- Card img -->
								@if (actpost.Attachment != null)
								{
									<img src="@actpost.Attachment" alt="Post" />
								}*@
                              @*  public IActionResult Create()
        {
            var activatePosts = _context.PostModel.Where(p => p.Status == "activate").ToList();

            ViewBag.activatePosts = activatePosts;
            return View(new PostModel());
        }*@